<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="svcbh">
					<serviceMetadata httpGetEnabled="False" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment>
			<serviceActivations>
				<add factory="CountdownWcfService.WcfServiceFactory" relativeAddress="./CountdownService.svc" service="CountdownWcfService.CountdownService" />
			</serviceActivations>
		</serviceHostingEnvironment>
		<services>
			<service name="CountdownWcfService.CountdownService" behaviorConfiguration="svcbh">
				<host>
					<baseAddresses>
						<add baseAddress="http://countdownservice.azurewebsites.net/CountdownService.svc" />
					</baseAddresses>
				</host>
				<endpoint name="duplexendpoint" address="" binding="wsDualHttpBinding" contract="CountdownWcfService.ICountdownService" />
				<endpoint name="MetaDataTcpEndpoint" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<connectionStrings>
		<add name="CountdownDBContainer" connectionString="metadata=res://*/CountdownDB.csdl|res://*/CountdownDB.ssdl|res://*/CountdownDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:haewz49zyp.database.windows.net,1433;Initial Catalog=mycountAEAqTcFWH;User Id=Countdown@haewz49zyp;Password=1234567890qwerty/;&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<nlog>
		<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
		<targets>
			<target name="file" type="File" layout="Date: ${longdate} ${newline}Callsite: ${callsite} ${newline}Level log: ${level} ${newline}Message: ${message} ${newline}${exception:format=tostring}" fileName="${logDirectory}/${logger}.txt" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="file" />
		</rules>
	</nlog>
</configuration>